---
interface Props {
	title: string;
}

const props = Astro.props.frontmatter;
import Nav from '../components/SideNav.ts';
import '../styles/wander.css';

const docsPages = (await Astro.glob('../pages/blog/*.md')).filter(e => e.frontmatter.date != -1);
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<title>{props.title}</title>
	</head>
	<body>
		<header>
			<h1><a href="/">Wander,</a></h1>
			<h2>programming in the smol</h2>
		</header>
		<main>
			<h1>{props.title}</h1>
			<section id="toc">
				<ul>
					{docsPages.sort((p1, p2) => { return p1.frontmatter.order - p2.frontmatter.order }).map((post) => {
						return <li><a href={post.url}>{post.frontmatter.title}</a></li>
					})}
				</ul>
			</section>
			<section>
				<Nav client:only="lit">Test</Nav>
				<slot />
			</section>
		</main>
	</body>
</html>
