<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" crossorigin href="/src/styles/wander.css">

		<title>{{title}}  - Wander Documentation</title>
	</head>
	<body>
		<header>
			<h1><a href="/">Wander,</a></h1>
			<h2>programming in the smol</h2>
		</header>
		<main>
			<section>
				{{{body}}}
			</section>
		</main>
	</body>
</html>
